<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.0rg">
<head th:include="common.html"></head>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div style="padding-bottom:5px;">
    <table style="width:100%;">
        <tr>
            <td style="width:100%;">
                <!--<span>资源名称：</span><input type="text" id="key"  />
                <input type="button" value="查找" onclick="search()"/>-->
            </td>
            <td style="white-space:nowrap;">
                <a class="mini-button" iconCls="fa-plus" onclick="add()">增加</a>
                <a class="mini-button" iconCls="fa-remove" onclick="remove()">删除</a>
                <a class="mini-button" iconCls="fa-save" onclick="save()">保存</a>
            </td>
        </tr>
    </table>
</div>

<div id="datagrid1" class="mini-datagrid" style="width:100%;height:550px;"
     url="/user/datas"
     idField="id" allowResize="true" multiSelect="true"
     sizeList="[20,30,50,100]" pageSize="20" allowCellEdit="true" allowCellSelect="true"
     showHeader="true" title="用户列表" showFilterRow="true">
    <div property="columns">
        <div type="checkcolumn" ></div>
        <div type="indexcolumn" ></div>
        <div field="id" width="120" headerAlign="center" align="center" renderer="onOptionRenderer">操作</div>
        <div field="id" width="120" headerAlign="center">id</div>
        <div field="username" width="120" headerAlign="center" >用户编号
            <input property="editor" class="mini-textbox" style="width:100%;"/>
            <input id="username" name="filterName" property="filter" class="mini-textbox" style="width:100%;"
                   onvaluechanged="onFilterChanged" showClose="true" oncloseclick="oncloseclick"/>
        </div>
        <div field="password" width="120" headerAlign="center" >登录密码</div>
        <div field="nickname" width="120" headerAlign="center" >昵称
            <input property="editor" class="mini-textbox" style="width:100%;"/>
            <input id="nickname" name="filterName" property="filter" class="mini-textbox" style="width:100%;"
                   onvaluechanged="onFilterChanged" showClose="true" oncloseclick="oncloseclick"/>
        </div>
        <div field="mobile" width="120" headerAlign="center" >手机号码</div>
        <div field="email" width="120" headerAlign="center" >电子邮箱 </div>
        <div field="qq" width="120" headerAlign="center" >QQ</div>
        <div field="gender" width="120" headerAlign="center" type="comboboxcolumn">性别
            <input property="editor" class="mini-combobox" style="width:100%;"
                   data="[{'id':'0','text':'女'},{'id':'1','text':'男'}]"/>
        </div>
        <div field="birthday" width="100" headerAlign="center" dateFormat="yyyy-MM-dd">出生日期</div>

        <div field="status" width="120" headerAlign="center" type="comboboxcolumn">用户状态
            <input property="editor" class="mini-combobox" style="width:100%;"
                   data="[{'id':'1','text':'是'},{'id':'0','text':'否'}]"/>
            <input id="status" name="filterName" property="filter" class="mini-combobox" style="width:100%;"
                   onvaluechanged="onFilterChanged" showClose="true" oncloseclick="oncloseclick"
                   data="[{'id':'1','text':'是'},{'id':'0','text':'否'}]" allowInput="true" />
        </div>
    </div>
</div>
</body>
<script>
    mini.parse();
    var grid=mini.get("datagrid1");
    grid.load();

    function remove(){
        var data = grid.getSelecteds();
        if(data.length==0){
            mini.alert("没有东西","友情提示");
        }
        var ids=new Array();
        for(var item of data){
            ids.push(item.id);
        }
        $.ajax({
            url: "/user/remove",
            data: JSON.stringify(ids),
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (text) {
                if (text.status==200){
                    grid.reload();
                } else {
                    mini.alert("删除失败","友情提示");
                }
            }
        });
    }

    function add() {
        mini.open({
            targetWindow: window,
            url: "/page/sys/user/userDetail",
            title: "新增员工", width: 600, height: 250,
            onload: function () {
                var iframe = this.getIFrameEl();
                var data = { action: "new" };
                iframe.contentWindow.SetData(data);
            },
            ondestroy: function (action) {

                grid.reload();
            }
        });
    }
    function save(){
        var data = grid.getChanges();
        $.ajax({
            url: "/user/update",
            data: JSON.stringify(data),
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (text) {
                grid.reload();
            }
        });
    }

    function onIFRenderer(e) {
        if (e.value == 1) return "是";
        else return "否";
    }

    function onOptionRenderer(e){
        var record=e.record;
        var html='<i class="fa fa-font-awesome" onclick="addRoles(\''+record.id+'\')"></i>'
        return html;
    }
    function addRoles(e){
        //新增弹窗
        mini.open({
            url: "/page/sys/role/roleList2",
            title: "信息页面",
            width: "800",
            height: "600",
            onload: function () {
                var iframe = this.getIFrameEl();
                iframe.contentWindow.setData(e);
            },
            ondestroy: function (action) {
                grid.reload();
            }
        });
    }
</script>
</html>