<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.0rg">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div style="padding-bottom:5px;">
    <span>角色名称：</span><input type="text" id="key"  />
    <input type="button" value="查找" onclick="search()"/>

</div>

<div id="datagrid1" class="mini-datagrid" style="width:100%;height:250px;"
     url="/data/AjaxService"
     idField="id" allowResize="true"
     sizeList="[20,30,50,100]" pageSize="20"
     showHeader="true" title="表格面板"
     onmouseup="return datagrid1_onmouseup()">
    <div property="columns">
        <div type="indexcolumn" ></div>
        <div field="loginname" width="120" headerAlign="center" allowSort="true">员工帐号</div>
        <div field="name" width="120" headerAlign="center" allowSort="true">姓名</div>
        <div field="gender" width="100" renderer="onGenderRenderer" align="center" headerAlign="center">性别</div>
        <div field="salary" numberFormat="¥#,0.00" align="right" width="100" allowSort="true">薪资</div>
        <div field="age" width="100" allowSort="true" decimalPlaces="2" dataType="float">年龄</div>
        <div field="createtime" width="100" headerAlign="center" dateFormat="yyyy-MM-dd" allowSort="true">创建日期</div>
    </div>
</div>
</body>
</html>