<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.0rg">
<head th:include="common.html"></head>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div style="padding-bottom:5px;">
    <table style="width:100%;">
        <tr>
            <td style="width:100%;">
                <span>角色名称：</span><input type="text" id="key"  />
                <input type="button" value="查找" onclick="search()"/>
            </td>
            <td style="white-space:nowrap;">
                <a class="mini-button" iconCls="fa-plus" onclick="add()">增加</a>
                <a class="mini-button" iconCls="fa-remove" onclick="remove()">删除</a>
                <a class="mini-button" iconCls="fa-save" onclick="save()">保存</a>
            </td>
        </tr>
    </table>
</div>
<div id="datagrid1" class="mini-datagrid" style="width:100%;height:550px;"
     url="/sysRole/datas"
     idField="id" allowResize="true" multiSelect="true" allowCellEdit="true" allowCellSelect="true"
     sizeList="[20,30,50,100]" pageSize="20" showFilterRow="true"
     showHeader="true" title="角色列表" >
    <div property="columns">
        <div type="indexcolumn" ></div>
        <div type="checkcolumn" ></div>
        <div field="id" width="120" headerAlign="center" align="center" renderer="onOptionRenderer">操作</div>
        <div field="id" width="120" headerAlign="center">id</div>
        <div field="description" width="120" headerAlign="center" >角色描述
            <input property="editor" class="mini-textbox" style="width:100%;"/>
            <input id="description" name="filterName" property="filter" class="mini-textbox" style="width:100%;"
                   onvaluechanged="onFilterChanged" showClose="true" oncloseclick="oncloseclick"/>
        </div>
        <div field="name" width="100"  align="center" headerAlign="center">角色代码
            <input property="editor" class="mini-textbox" style="width:100%;"/>
            <input id="name" name="filterName" property="filter" class="mini-textbox" style="width:100%;"
                   onvaluechanged="onFilterChanged" showClose="true" oncloseclick="oncloseclick"/>
        </div>
        <div field="available" align="right" width="100" headerAlign="center" type="comboboxcolumn">是否可用
            <input property="editor" class="mini-combobox" style="width:100%;"
                   data="[{'id':'1','text':'是'},{'id':'0','text':'否'}]"/>
            <input id="available" name="filterName" property="filter" class="mini-combobox" style="width:100%;"
                   onvaluechanged="onFilterChanged" showClose="true" oncloseclick="oncloseclick"
                   data="[{'id':'1','text':'是'},{'id':'0','text':'否'}]" allowInput="true" />
        </div>
        <div field="createTime" width="100" headerAlign="center" dateFormat="yyyy-MM-dd">创建时间</div>
        <div field="updateTime" width="100" headerAlign="center" dateFormat="yyyy-MM-dd">修改时间</div>
    </div>
</div>
</body>
<script>
    mini.parse();
    var grid=mini.get("datagrid1");
    grid.load();
    function onOptionRenderer(e){
        var record=e.record;
        var html='<i class="fa fa-font-awesome" onclick="updateRes(\''+record.id+'\')"></i>'
        return html;
    }
    function updateRes(e){
        //新增弹窗
        mini.open({
            url: "/page/sys/res/resTree",
            title: "信息页面",
            width: "800",
            height: "600",
            onload: function () {
                var iframe = this.getIFrameEl();
                iframe.contentWindow.setData(e);
            },
            ondestroy: function (action) {
                // grid.reload();
            }
        });
    }

    function remove(){
        var data = grid.getSelecteds();
        if(data.length==0){
            mini.alert("没有东西","友情提示");
        }
        var ids=new Array();
        for(var item of data){
            ids.push(item.id);
        }
        $.ajax({
            url: "/sysRole/remove",
            data: JSON.stringify(ids),
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (text) {
                if (text.status==200){
                    grid.reload();
                } else {
                    mini.alert("删除失败","友情提示");
                }
            }
        });
    }

    function add() {
        mini.open({
            targetWindow: window,
            url: "/page/sys/role/roleDetail",
            title: "新增角色", width: 600, height: 250,
            onload: function () {
                var iframe = this.getIFrameEl();
                var data = { action: "new" };
                iframe.contentWindow.SetData(data);
            },
            ondestroy: function (action) {

                grid.reload();
            }
        });
    }
    function save(){
        var data = grid.getChanges();
        $.ajax({
            url: "/sysRole/update",
            data: JSON.stringify(data),
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (text) {
                grid.reload();
            }
        });
    }
</script>
</html>