<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.0rg">
<head th:include="common.html"></head>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div style="padding-bottom:5px;">
    <span>角色名称：</span><input type="text" id="key"  />
    <input type="button" value="查找" onclick="search()"/>

</div>
<!--url="/sysRole/datas"-->
<div id="datagrid1" class="mini-datagrid" style="width:100%;height:550px;"

     idField="id" allowResize="true"
     sizeList="[20,30,50,100]" pageSize="20"
     showHeader="true" title="角色列表" >
    <div property="columns">
        <div field="id" width="120" headerAlign="center" align="center" renderer="onOptionRenderer">操作</div>
        <div type="indexcolumn" ></div>
        <div field="id" width="120" headerAlign="center">id</div>
        <div field="description" width="120" headerAlign="center" >角色描述</div>
        <div field="name" width="100"  align="center" headerAlign="center">角色代码</div>
        <div field="available" align="right" width="100" headerAlign="center" renderer="onGenderRenderer">是否可用</div>
        <div field="createTime" width="100" headerAlign="center" dateFormat="yyyy-MM-dd">创建时间</div>
        <div field="updateTime" width="100" headerAlign="center" dateFormat="yyyy-MM-dd">修改时间</div>
    </div>
</div>
</body>
<script>
    mini.parse();
    var grid=mini.get("datagrid1");
    $(function(){
        $.ajax({
            url:"/sysRole/datas",
            type:"POST",
            dataType:"json",
            success: function (text) {
                grid.setData(text);
            }
        });
    });
    function onOptionRenderer(e){
        var record=e.record;
        var html='<i class="fa fa-font-awesome" onclick="updateRes(\''+record.id+'\')"></i>'
        return html;
    }
    function updateRes(e){
        //新增弹窗
        mini.open({
            url: "/page/sys/res/resTree",
            title: "信息页面",
            width: "800",
            height: "600",
            onload: function () {
                var iframe = this.getIFrameEl();
                iframe.contentWindow.setData(e);
            },
            ondestroy: function (action) {
                grid.reload();
            }
        });
    }
</script>
</html>