<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.0rg">
<head th:include="common.html"></head>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div style="padding-bottom:5px;">
    <table style="width:100%;">
        <tr>
            <td style="width:100%;">
                <span>资源名称：</span><input type="text" id="key"  />
                <input type="button" value="查找" onclick="search()"/>
            </td>
            <td style="white-space:nowrap;">
                <a class="mini-button" iconCls="fa-plus" onclick="add()">增加</a>
                <a class="mini-button" iconCls="fa-remove" onclick="remove()">删除</a>
                <a class="mini-button" iconCls="fa-save" onclick="save()">保存</a>
            </td>
        </tr>
    </table>
</div>

<div id="datagrid1" class="mini-datagrid" style="width:100%;height:550px;"
     url="/resources/datas"
     idField="id" allowResize="true" multiSelect="true"
     sizeList="[20,30,50,100]" pageSize="20" allowCellEdit="true" allowCellSelect="true"
     showHeader="true" title="资源列表" >
    <div property="columns">
        <div type="checkcolumn" ></div>
        <div type="indexcolumn" ></div>
        <div field="id" width="120" headerAlign="center">id</div>
        <div field="name" width="120" headerAlign="center" >资源名称
            <input property="editor" class="mini-textbox" style="width:100%;"/>
        </div>
        <div field="type" width="120" headerAlign="center" >资源类型</div>
        <div field="url" width="120" headerAlign="center" >链接地址
            <input property="editor" class="mini-textbox" style="width:100%;"/>
        </div>
        <div field="permission" width="120" headerAlign="center" >权限代码</div>
        <div field="parentId" width="120" headerAlign="center" >上级节点id
            <input property="editor" class="mini-textbox" style="width:100%;"/>
        </div>
        <div field="sort" width="120" headerAlign="center" >排序值</div>
        <div field="external" width="120" headerAlign="center" renderer="onIFRenderer">是否外部链接</div>
        <div field="available" width="120" headerAlign="center" type="comboboxcolumn">是否可用
            <input property="editor" class="mini-combobox" style="width:100%;"
                   data="[{'id':'true','text':'是'},{'id':'false','text':'否'}]"/>
        </div>
        <div field="icon" width="120" headerAlign="center" >资源图标
            <input property="editor" class="mini-textbox" style="width:100%;"/>
        </div>
        <div field="createTime" width="100" headerAlign="center" dateFormat="yyyy-MM-dd" visible="false">创建时间</div>
        <div field="updateTime" width="100" headerAlign="center" dateFormat="yyyy-MM-dd">修改时间</div>
    </div>
</div>
</body>
<script>
    mini.parse();
    var grid=mini.get("datagrid1");
    grid.load();
    function save(){
        var data = grid.getChanges();
        console.log(data);
        $.ajax({
            url: "/resources/update",
            data: JSON.stringify(data),
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (text) {
                grid.reload();
            }
        });
    }

    function onIFRenderer(e) {
        if (e.value == 1) return "是";
        else return "否";
    }
    // 以管理员身份的操作命令（大概就是这个意思，在开始菜单里找，8和10开始菜单右键），输入netsh winsock reset，回车确定，重启电脑
</script>
</html>