<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.0rg">
<head th:include="common.html">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <a class="mini-button" iconCls="fa-save" onclick="save()" style="float: right">保存</a>
    <a class="mini-button" iconCls="fa-save" onclick="allremove()" style="float: right">清空</a>
    <a class="mini-button" iconCls="fa-save" onclick="allSelect()" style="float: right">全选</a>
</div>
<div>
    <ul id="tree1" class="mini-tree" style="width:300px;padding:5px;"
        expandOnLoad="0"
        textField="text" idField="id" parentField="parentId"
        showTreeIcon="true" showCheckBox="true" resultAsTree="false">
    </ul>
</div>

</body>
<script>
    mini.parse();

    var tree=mini.get("tree1");

    var roleId="";
    function setData(e){
        roleId=e;
        tree.setUrl("/resources/treeData?userId="+roleId);
        tree.load();
    }

    function save(){
        var data = tree.getCheckedNodes(true);
        if(data.length==0){
            alert("nononono");
            return ;
        }
        var resIds=new Array();
        for(var item of data){
            resIds.push(item.id);
        }
        var param={};
        param.resIds=resIds;
        param.roleId=roleId;
        $.ajax({
            url: "/sysRole/updateRoleRes",
            data: JSON.stringify(param),
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (text) {
                if(text.status==200){
                    alert("更新成功！");
                    closeWindow("ok","");
                }else {
                    alert("更新失败！");
                }

            }
        });
    }

    function closeWindow(active,a){
        if(window.CloseOwnerWindow){
            return window.CloseOwnerWindow(active,a);
        }else{
            window.close();
        }

    }

    function allSelect(){
        tree.checkAllNodes();
    }
    function allremove(){
        tree.uncheckAllNodes ();
    }
</script>
</html>