<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.king.library.sys.mapper.SysPermissionMapper" >
  <resultMap id="BaseResultMap" type="com.king.library.sys.pojo.SysPermission" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="menu_code" property="menuCode" jdbcType="VARCHAR" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="permission_code" property="permissionCode" jdbcType="VARCHAR" />
    <result column="permission_name" property="permissionName" jdbcType="VARCHAR" />
    <result column="required_permission" property="requiredPermission" jdbcType="BIT" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_permission
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.king.library.sys.pojo.SysPermission" >
    insert into sys_permission (id, menu_code, menu_name, 
      permission_code, permission_name, required_permission
      )
    values (#{id,jdbcType=INTEGER}, #{menuCode,jdbcType=VARCHAR}, #{menuName,jdbcType=VARCHAR}, 
      #{permissionCode,jdbcType=VARCHAR}, #{permissionName,jdbcType=VARCHAR}, #{requiredPermission,jdbcType=BIT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.king.library.sys.pojo.SysPermission" >
    update sys_permission
    set menu_code = #{menuCode,jdbcType=VARCHAR},
      menu_name = #{menuName,jdbcType=VARCHAR},
      permission_code = #{permissionCode,jdbcType=VARCHAR},
      permission_name = #{permissionName,jdbcType=VARCHAR},
      required_permission = #{requiredPermission,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, menu_code, menu_name, permission_code, permission_name, required_permission
    from sys_permission
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, menu_code, menu_name, permission_code, permission_name, required_permission
    from sys_permission
  </select>

  <select id="findPermissionsByRoleId" resultMap="BaseResultMap" parameterType="int">
    SELECT t.id, menu_code, menu_name, permission_code, permission_name, required_permission
    FROM sys_permission t INNER JOIN sys_role_permission t1 ON t.id=t1.permission_id
    WHERE t1.role_id=#{id};
  </select>
</mapper>