<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.king.library.sys.mapper.SysRoleMapper">

  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="com.king.library.sys.pojo.SysRole">
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="description" property="description" />
    <result column="available" property="available" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
  </resultMap>

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
        id, name, description, available, create_time, update_time
    </sql>

  <select id="selectRolesByUserId" resultMap="BaseResultMap" parameterType="int">
        SELECT t1.id, t1.name, t1.description, t1.available, t1.create_time, t1.update_time
        FROM sys_role t1
        INNER JOIN sys_user_role t2 ON t1.id=t2.role_id
        WHERE t1.available=1 AND t2.user_id=#{id}
    </select>
</mapper>