<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.king.library.sys.mapper.SysResourcesMapper">

  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="com.king.library.sys.pojo.SysResources">
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="type" property="type" />
    <result column="url" property="url" />
    <result column="permission" property="permission" />
    <result column="parent_id" property="parentId" />
    <result column="sort" property="sort" />
    <result column="external" property="external" />
    <result column="available" property="available" />
    <result column="icon" property="icon" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
  </resultMap>

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
        id, name, type, url, permission, parent_id, sort, external, available, icon, create_time, update_time
    </sql>
  <select id="selectResByRoleId" resultMap="BaseResultMap">
      select t1.id, t1.name, t1.type, t1.url, t1.permission, t1.parent_id, t1.sort, t1.external,
      t1.available, t1.icon
      FROM sys_resources t1
      INNER JOIN sys_role_resources t2 ON t1.id=t2.resources_id
      WHERE t2.role_id=#{id}
      <if test="available==true">
          AND t1.available=1
      </if>
    </select>
  <select id="selectResourcesByUserId" resultMap="BaseResultMap" parameterType="long">
      select t1.id, t1.name, t1.type, t1.url, t1.permission, t1.parent_id, t1.sort, t1.external,
      t1.available, t1.icon
      FROM sys_resources t1
      INNER JOIN sys_role_resources t2 ON t1.id=t2.resources_id
      INNER JOIN sys_user_role t3 ON t2.role_id=t3.role_id
      INNER join sys_role t4 on t4.id=t2.role_id
      WHERE t1.available=1 and t4.available=1 AND t3.user_id=#{id}
    </select>
</mapper>