<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.0rg" xmlns:th="http://www.springframework.org/schema/jdbc">
<head th:include="common.html">
</head>
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/js/scrollbar/jquery.mCustomScrollbar.css}">
    <script type="text/javascript" th:src="@{/js/scrollbar/jquery.mCustomScrollbar.concat.min.js}"></script>
    <title>main2</title>
</head>
<body>
<div class="navbar">
    <div class="navbar-header">
        <div class="navbar-brand">MiniUI</div>
        <div class="navbar-brand navbar-brand-compact">M</div>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li ><a href="#"><i class="fa fa-paper-plane"></i> 代办事项</a></li>
        <li><a href="#"><i class="fa fa-pencil-square-o"></i> 修改密码</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle userinfo">
                <img class="user-img" th:src="@{/image/user.jpg}" />个人资料<i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu pull-right">
                <li ><a href="#"><i class="fa fa-eye "></i> 用户信息</a></li>
                <li><a href="#" onclick="toTopic(1)"><i class="fa fa-question-circle-o"></i>显示形式1</a></li>
                <li><a href="#" onclick="toTopic(2)"><i class="fa fa-arrows-alt"></i>显示形式2</a></li>
                <li><a href="#" onclick="toTopic(3)"><i class="fa fa-lock "></i>显示形式3</a></li>
                <li><a href="#"><i class="fa fa-user"></i> 退出登录</a></li>
            </ul>
        </li>
    </ul>
</div>

<div class="container">

    <div class="sidebar">
        <div class="sidebar-toggle"><i class = "fa fa-fw fa-dedent" ></i></div>
        <div id="mainMenu"></div>
    </div>

    <div class="main">
        <div id="mainTabs" class="mini-tabs main-tabs" activeIndex="0" style="height:100%;" plain="false"
             buttons="#tabsButtons" arrowPosition="side" >
            <div name="index" iconCls="fa-android" title="控制台">
                MiniUI导航框架
            </div>
        </div>
        <div id="tabsButtons">
            <a class="tabsBtn"><i class="fa fa-home"></i></a>
            <a class="tabsBtn"><i class="fa fa-refresh"></i></a>
            <a class="tabsBtn"><i class="fa fa-remove"></i></a>
            <a class="tabsBtn"><i class="fa fa-arrows-alt"></i></a>
        </div>
    </div>

</div>


</body>
</html>
<script>

    function activeTab(item) {
        var tabs = mini.get("mainTabs");
        var tab = tabs.getTab(item.id);
        if (!tab) {
            tab = { name: item.id, title: item.text, url: item.url, iconCls: item.iconCls, showCloseButton: true };
            tab = tabs.addTab(tab);
        }
        tabs.activeTab(tab);
    }

    $(function () {
        //menu
        var menu = new Menu("#mainMenu", {
            itemclick: function (item) {
                if (!item.children) {
                    activeTab(item);
                }
            }
        });

        $(".sidebar").mCustomScrollbar({ autoHideScrollbar: true });

        new MenuTip(menu);

        $.ajax({
            url:"/auth/getMenu",
            type:"POST",
            dataType:"json",
            success: function (text) {
                var data = mini.decode(text);
                menu.loadData(data);
            }
        });

        //toggle
        $("#toggle, .sidebar-toggle").click(function () {
            $('body').toggleClass('compact');
            mini.layout();
        });

        //dropdown
        $(".dropdown-toggle").click(function (event) {
            $(this).parent().addClass("open");
            return false;
        });

        $(document).click(function (event) {
            $(".dropdown").removeClass("open");
        });
    });

    function toTopic(e){
        location.href="/page/main"+e;
    }
</script>